# Luca deVerteuil

# Milestone 3: 
## EDA

## About Me And My Topic
This data set is really interesting because I am a huge crime drama nerd. With this analytical project I hope to be able to find what time of the year is worse with crime, and how serious of a crime is during these peaks. I have always heard that during the Holidays there is more crime. So with these stats I can see if this is true. I am also curious if this influx in crime also brings an influx in serious crime, meaning offense against another person and breaking and entering. I believe that The amount of serious crime will decrease during holiday periods however I think that petty crime like thief and mischief will increase. My belief on this is because people during these times are intoxicated and make decisions they probably should not have. As well as people are away on vacation so it would be easy to steal vehicles when people are not at their houses.

### Data Frame Info 
<p> This data table that is shown right now is to get a clear view of all the columns in the table and their Data type. <br> 
The data columns that we will be focusing on are:  </p>

1. TYPE : which is type of crime that was commited 
1. MONTH: Which is what month the crime was reported on 
1. DAY : Which is what day the crime was reported on

In [2]:
import pandas as pd 
file = '../data/raw/crimedata_csv_all_years.csv'
df = pd.read_csv(file)
display( df.info()) # This is to get information on what the columns are in the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793916 entries, 0 to 793915
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TYPE           793916 non-null  object
 1   YEAR           793916 non-null  int64
 2   MONTH          793916 non-null  int64
 3   DAY            793916 non-null  int64
 4   HOUR           793916 non-null  int64
 5   MINUTE         793916 non-null  int64
 6   HUNDRED_BLOCK  793904 non-null  object
 7   NEIGHBOURHOOD  793783 non-null  object
 8   X              793843 non-null  float64
 9   Y              793843 non-null  float64
dtypes: float64(2), int64(5), object(3)
memory usage: 60.6+ MB

None

### Year column info
The table above is of the year column. This table might not be seen as very usful. However, I beleive it does because it shows us that the information given to us had occured between the times of 2003 and 2021. This gievs us a brakground of information of almost 2 decades.

In [87]:
display(df["YEAR"].describe()) # this is to show the years that this data frame includes

count    793916.000000
mean       2011.189500
std           5.528776
min        2003.000000
25%        2006.000000
50%        2011.000000
75%        2016.000000
max        2021.000000
Name: YEAR, dtype: float64

### Type of crime Statistics 
Here we can see the amount of crimes, amount of crimes, most common crimes, and frequency of the most common crimes between 2003 and 2021 in vancouver
This gives us a good idea of crimes commited in Vancouver

In [103]:
display(df["TYPE"].describe()) # this si to show information on the types of crimes commited

count                 793916
unique                    11
top       Theft from Vehicle
freq                  224662
Name: TYPE, dtype: object

### List of Crimes
Here is all the different types of crimes commited in vancouver

In [104]:
display(df["TYPE"].unique()) # this is to show all the different types of crimes that are commited in the data set  '''

array(['Theft from Vehicle', 'Theft of Bicycle', 'Theft of Vehicle',
       'Vehicle Collision or Pedestrian Struck (with Fatality)',
       'Vehicle Collision or Pedestrian Struck (with Injury)',
       'Break and Enter Commercial', 'Break and Enter Residential/Other',
       'Homicide', 'Mischief', 'Offence Against a Person', 'Other Theft'],
      dtype=object)

## Theory
As stated before I believed that During the holiday seasons the Crime rate increases abovethe average

In [187]:

import pandas as pd 
import numpy as np
def load_and_process(day, month, file):

   # pd.set_option('display.max_rows', None)

    # display all the  columns
    dataFrame = (
        pd.read_csv(file)
        .drop(columns=["YEAR", "HOUR", "MINUTE", "HUNDRED_BLOCK", "NEIGHBOURHOOD", "X", "Y"])
        .loc[lambda x: x["DAY"] == day]
        .loc[lambda x : x["MONTH" ]== month]
        
    )

    return dataFrame

def Make_To_Table(dataframe): 
    df = dataframe['TYPE'].value_counts(sort = True)
    dataframe = pd.crosstab(index= 0, columns= dataframe["TYPE"] )
    dataframe =dataframe.assign(Total= df.sum())
    return dataframe

def Find_sig(dataFrame, std,mean):
    sigNum = mean + (std*2)
    DataF = (
        pd.DataFrame(dataFrame)
        .assign(sigDiff = (dataFrame["Total"] > sigNum) )
        .drop(columns=['Theft from Vehicle', 'Theft of Bicycle', 'Theft of Vehicle',
       'Vehicle Collision or Pedestrian Struck (with Fatality)',
       'Vehicle Collision or Pedestrian Struck (with Injury)',
       'Break and Enter Commercial', 'Break and Enter Residential/Other',
       'Homicide', 'Mischief', 'Offence Against a Person', 'Other Theft'])
    )
    DataF = DataF[['Holiday', 'Total', 'sigDiff']]
    return DataF

In [177]:

import random
file = '../data/raw/crimedata_csv_all_years.csv'


def Rand_dates(file):
    for x in range(100):
        a = random.randint(1,12)
        if a==1 or a ==3 or a==5 or a==7 or a ==8 or a== 10 or a==12:
            b = random.randint(1,31)
            place = load_and_process(b,a, file)
        elif a == 4 or a== 6 or a ==9 or a == 11:
            b = random.randint(1,30)
            place = load_and_process(b,a, file)
        else: 
            b = random.randint(1,28)
            place = load_and_process(b,a, file) 
        if x == 0: 
            df = place
            df = Make_To_Table(df)
        else:
            place = Make_To_Table(place)
            df = pd.merge(df,place, how = "outer")
    return df

df1 = Rand_dates(file)
df1Mean = df1["Total"].mean()
df1Std = df1["Total"].std()
sigNum = df1Mean + (df1Std*2)

2174.866666666667
164.02049748584966
2502.9076616383663

In [201]:
import math


file = '../data/raw/crimedata_csv_all_years.csv'
def Holidays(Holidays,day,month,file):
    df = load_and_process(day, month, file)
    df = Make_To_Table(df)
    df = df.assign(Holiday = Holidays)
    return df
    
def mrg(list):
    for x in range(len(list)):
        if x == 0:
            df = list[x]
        else: 
           df = pd.merge(df,list[x], how = "outer") 
    df = df[['Holiday', 'Theft from Vehicle', 'Theft of Bicycle', 'Theft of Vehicle',
       'Vehicle Collision or Pedestrian Struck (with Fatality)',
       'Vehicle Collision or Pedestrian Struck (with Injury)',
       'Break and Enter Commercial', 'Break and Enter Residential/Other',
       'Homicide', 'Mischief', 'Offence Against a Person', 'Other Theft', "Total"]]
    return df
    

chisEve = Holidays('ChristmasEve', 25,12, file)
chisDay = Holidays('ChristmasDay', 26,12, file)
NewEve = Holidays('NewyearsEve', 31,12, file)
NewDay =Holidays('NewyYearsDay', 1 ,1, file) 
CanDay =Holidays('CanadaDay', 1 ,7, file)
ValDay = Holidays('ValDay', 14 ,2, file) 
Halloween =Holidays('Halloween',31, 10,file)
list = [chisEve,chisDay,NewEve,NewDay,CanDay,ValDay,Halloween]

Hcrim = mrg(list)
display(Hcrim)
SigDifference = Find_sig(Hcrim,df1Std,df1Mean)
display(SigDifference)

TYPE,Holiday,Theft from Vehicle,Theft of Bicycle,Theft of Vehicle,Vehicle Collision or Pedestrian Struck (with Fatality),Vehicle Collision or Pedestrian Struck (with Injury),Break and Enter Commercial,Break and Enter Residential/Other,Homicide,Mischief,Offence Against a Person,Other Theft,Total
0,ChristmasEve,453,16,85,1.0,40,112,133,NaN,180,163,203,1386
1,ChristmasDay,583,29,93,NaN,39,119,141,NaN,212,137,437,1790
2,NewyearsEve,656,29,94,NaN,51,149,208,1.0,295,198,501,2182
3,NewyYearsDay,731,72,121,NaN,61,129,197,1.0,387,683,578,2960
4,CanadaDay,614,174,140,2.0,64,106,202,1.0,324,282,581,2490
5,ValDay,670,52,125,NaN,85,137,208,2.0,246,194,605,2324
6,Halloween,618,59,125,NaN,74,146,213,2.0,526,254,577,2594

TYPE       Holiday  Total  sigDiff
0     ChristmasEve   1386    False
1     ChristmasDay   1790    False
2      NewyearsEve   2182    False
3     NewyYearsDay   2960     True
4        CanadaDay   2490    False
5           ValDay   2324    False
6        Halloween   2594     True